@import "utils";


.register{
    padding: 1rem 2.2rem;
    box-shadow: $shadow;
    flex: 1;
    
    .form__heading{
        font-family: $headingFont;
    }

    .input__field, #submit__btn{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .input__field {
        input {
            padding: 0.7rem;
            border-radius: $curvedBorder;
            border: $inputBorder;
            outline: none;
        }

        label{
            color: gray;
            font-family: $textFont;
        }
     
    }

    .form__heading, .input__field, #submit__btn{
        margin: 1rem;
    }



    .input__check{
        margin: 2rem 1rem;
        font-weight: $boldText;

        .check {
            
            &__container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                user-select: none;

                input{
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:hover{
                        input ~ .check__mark{
                            background-color: #2196F3;
                        }
                    }

                    &:checked ~ .check__mark:after{
                        display: block;
                    }
                }
            }

            &__mark{
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;

                &:after{
                    content: "";
                    position: absolute;
                    display: none;
                }
            }

            &__container .check__mark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid rgb(24, 25, 27);
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

    }

    #submit__btn {
        width: 55%;

        button{
            font-size: 16px;
            padding: 0.8rem;
            cursor: pointer;
            background-color: $btnPrimary;
            border: none;
            outline: none;
            border-radius: $curvedBorder;
            color: white;
            transition: all 0.2s;

            &:active{
                transform: scale(0.96);
            }
        }
    }

    .error{
        color: red;
        font-size: 13px;    
    }
    

    .agree{
        margin-left: 2rem;
    }
}




