@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

$shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.24);

$fontSize: 15px;
$headingFont: 'Source Sans Pro', sans-serif;
$textFont: 'Open Sans', sans-serif;
$boldText: 600;

$btnPrimary: #2478e6;
$inputBorder: 1px solid rgb(204, 204, 204);

$curvedBorder: 0.25rem;
$rounded: 0.5rem;